<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TicTacToe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64EC7C211DEA8173008538AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EC7C351DEA8174008538AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64EC7C401DEA8174008538AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
